---
import MarkdownLayout from "../layout/MarkdownLayout.astro";

// const filename = Astro.params;
const filename = `../content/docs/html/basic.md`;

// const data = Astro.glob(filename); can't access the file md
---

<MarkdownLayout>
  <div></div>
</MarkdownLayout>
